<div class="flex gap-1">
    @for (item of arrCategories; track item.id) {
        <button class="relative button flex flex-col px-2 pt-2 pb-1" [attr.aria-expanded]="item.expanded" (click)="openMenu(item, $event)">
            <span class="material-symbols-outlined align-middle">{{item.icon}}</span>
            <p class="buttonText p--small">{{item.name}}</p>
            <span class="material-symbols-outlined align-middle">keyboard_arrow_down</span>
        </button>
        @if (item.expanded){
            <div class="absolute left-1/2 z-10 mt-5 -translate-x-1/2 translate-y-16 overflow-hidden bg-white bg-opacity-85 shadow-lg ring-1 ring-gray-900/5 overlay p-7">
                <div class=" grid grid-cols-3 gap-4 ">
                    @for (activity of this.arrActivities; track activity.id) {
                        <app-card-micro [currentActivity]="activity"></app-card-micro>
                    }@empty {
                        <app-spinner></app-spinner>
                    }
                </div>
                <div class="flex justify-end pt-3">
                    <app-button-more [input_text]="'VEURE MÉS'" [icon]="'chevron_right'"></app-button-more>
                </div>
            </div>
        }
    }
</div>