.button {
    border: none;
    background-color: rgba(255, 255, 255, 0.548);
    &:hover{
        background-color: var(--color__dBlue);
        
        .material-symbols-outlined {
            color: var(--color__white);
        }
    }
}

.material-symbols-outlined {
    color: var(--color__dBlue);
}

.overlay {
    width: 700px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
}
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
